include README.md
include LICENSE
include pyproject.toml
recursive-include django_dev_toolkit/static *
recursive-include django_dev_toolkit/templates *
recursive-include django_dev_toolkit/management *.py
recursive-include django_dev_toolkit/migrations *.py
recursive-include django_dev_toolkit/templatetags *.py
recursive-include docs *.md
recursive-include docs/imgs *
recursive-include examples *
recursive-include django_dev_toolkit *.html
recursive-include django_dev_toolkit *.svg
recursive-include django_dev_toolkit *.json
recursive-include django_dev_toolkit *.css
recursive-include django_dev_toolkit *.js
global-exclude __pycache__
global-exclude *.py[co]